.img-profile {
	border-radius: 10%; 
	width: 300px;
	display:block;
	margin:auto;
}

.img-gallery {
    width:250px;
    height:250px;
    display:block;
    margin:auto; 
    border-radius: 10%;
    border:2px solid lightgray;
}

.video_youtube {
    width:240px; 
    height:135px; 
    display:block; 
    margin:10px auto;
}

.header_people {
    height:40px;
    font: bold;
    font-size: large;
    padding: 8px; 
    margin: 0 -15px;
}

figcaption {
    text-align: center; 
}

.color_border {
    border: 3px solid royalblue;
}

.color_theme_reverse {
    background-color: royalblue;
    color: white;
}

.color_theme_reverse a {
    color:white;
}




















